<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="3.0.0.20130531-alpha" targetFramework="net45" />
  <package id="akavache.portable" version="3.0.0.20130531-alpha" targetFramework="net45" />
  <package id="akavache.sqlite3" version="3.0.0.20130531-alpha" targetFramework="net45" />
  <package id="Hardcodet.Wpf.TaskbarNotification" version="1.0.4.0" />
  <package id="Ix_Experimental-Main" version="1.1.10823" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="reactiveui-core" version="5.0.0.20130531-alpha" targetFramework="net45" />
  <package id="reactiveui-events" version="5.0.0.20130531-alpha" targetFramework="net45" />
  <package id="reactiveui-platforms" version="5.0.0.20130531-alpha" targetFramework="net45" />
  <package id="RestSharp" version="103.0.0-nojsondotnet" />
  <package id="Rx-Core" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Linq" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-Main" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.1.30214.0" targetFramework="net45" />
  <package id="Rx-XAML" version="2.1.30214.0" targetFramework="net45" />
</packages>